.locationCard {
  min-width: 15rem;

  &Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
     box-shadow: 0px 2px 10px 0px #0000001A;
    
    border-radius: 20px;

    h3{
      font-weight: 500;
      letter-spacing: 1px;
    }

    // .avaliableStyleImg{
    //   width: 14rem;
    // }

    .comingSoonStyleImg{
padding: 3px;
    }

    img {
      border-radius: 99px;
      padding: 1rem;
      height: 100% !important;
      width: 10rem;
      margin-bottom: 10px;
      object-fit: cover;
    }
  }

  .locationCardContainer {
    .avaliableStyle {
      color: white;
      font-weight: 400;
      padding-top: 5px;
    }
    .comingSoonStyle {
      color: black;
      font-weight: 400;
      padding-top: 5px;
    }
  }
}

// Medium screens (1200px - 1399px)
@media (min-width: 1200px) and (max-width: 1399px) {
  .locationCard {
    min-width: 12rem;

    &Container {
      padding: 0.8rem;
      box-shadow: 0px 0px 8px 0px #0000001a;

      img {
        width: 8rem;
        padding: 0.8rem;
        margin-bottom: 8px;
      }
    }

    .locationCardContainer {
      .avaliableStyle {
        font-size: 0.95rem;
      }

      .comingSoonStyle {
        font-size: 0.95rem;
      }
    }
  }
}

// Small screens (max-width: 968px)
@media screen and (max-width: 968px) {
  .locationCard {
    min-width: 10rem;

    &Container {
      width: 85%;
      // gap: 1rem;
      padding: 1rem;
      margin: 5px auto;

      img {
        width: 5rem;
      }

      h3 {
        // font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 17px !important;
        padding-top: 11px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .locationCard {
    min-width: 8rem;

    .locationCardContainer {
      width: 170px;
    }

    &Container {
      width: 90%;
      padding: 0.5rem;
      margin: 3px auto;

      img {
        width: 4rem;
        margin-top: 20px;
      }

      h3 {
        font-size: 14px;
      }
    }
  }
}

// Extra small screens (max-width: 480px)
@media screen and (max-width: 480px) {
  .locationCard {
    min-width: 6rem;
z-index: 9999;
    &Container {

      padding: 1rem 4.5rem;
      margin: 2px 0rem;
      box-shadow: 0px 4px 10px 0px #0000001A;
      width: 170px;
      // width: 100%;
      // padding: 0.5rem;
      // margin: 2px auto;

      img {
        width: 3rem;
      }

      h3 {
        font-size: 12px;
      }
    }
  }
}



@media (min-width: 992px) and (max-width: 1199px) {

.locationCardContainer img{
  // width: 7rem!important;
}
.locationCard{
  min-width: unset;
}

}