.formDiv{
    background-color: #F6F1F1;
    border-radius: 20px;
    padding: 5% 7%;
}


form{
    display: flex;
    flex-direction: column;
}

form label{
    margin: 2% 0;
    // font-family: Archivo;
    font-size: 1rem;
  
      
        .required-star {
          color: red;
        //   margin-left: 3px;
        }
      
      
  
}

input{
    
    width: 100%;
    padding: 3%;
    margin: 1% 0;
    margin-top: 6px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 19px;
    height: 50px;
}

button:hover{
    transform: scale(1.01);
}

@media screen and (max-width: 862px) {
    form {
        margin: 10px auto;
    }
}
    
