@import "@fontsource/archivo"; 
@import "@fontsource/archivo-black";
.stepsToBid {
  width: 100vw;
  // height: 1700px;
  display: flex;
  justify-content: center;

  &Container {
    width: 90%;
    max-width: 1600px;
    position: relative;
    display: flex;
    flex-direction: column;

    .SectionTitle {
      margin-right: 15%;
      margin-left: 4%;
      display: flex;
      flex-direction: column;
      color: Black;
      max-width: fit-content;
      

      h1 {
        font-family: "Archivo Black";
        font-size: 40px;
        // margin-bottom: 1rem;
        font-weight: 400;
        letter-spacing: 2px;
        // font-family: "Archivo";
        margin-bottom: 2px;
      }

      p {
        // margin-bottom: 1.5rem;
        font-size: 18px!important;
        font-family: "Archivo";
        letter-spacing: 1px;
        font-weight: 600;
        // margin: 5px 0px 3px 0px;
      }
    }

    .stepsToBidAnimation {
      position: relative;
      width: 100%;
      height: 1800px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      margin-top: -5rem;
      margin-bottom: -200px;

      svg {
        width: 100%;
        height: 75%;
      }
    }

    .stepsToBidCardContainer {
      position: absolute;
      top: 10%;
      left: 15%;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;
    }

    .cardcontainer {
      display: flex;
      width: 65vw;
      gap: 2rem;
    }

    .rightAlign {
      flex-direction: row-reverse;
    }

    .svgPath {
      width: 60%;
      height: 70%;
    }
  }
}


