// Desktop First (Default styles for 1400px and up)
.stepsToBid {
  width: 100vw;
  // height: 1700px;
  display: flex;
  justify-content: center;

  &Container {
    width: 90%;
    max-width: 1600px;
    position: relative;
    display: flex;
    flex-direction: column;

    .SectionTitle {
      margin-right: 15%;
      margin-left: 4%;
      display: flex;
      flex-direction: column;
      color: Black;
      max-width: fit-content;
      

      h1 {
        // font-family: "Archivo Black";
        font-size: 40px;
        // margin-bottom: 1rem;
        font-weight: 800;
        letter-spacing: 2px;
        font-family: "Archivo";
        margin-bottom: 2px;
      }

      p {
        // margin-bottom: 1.5rem;
        font-size: 18px!important;
        font-family: "Archivo";
        letter-spacing: 1px;
        // margin: 5px 0px 3px 0px;
      }
    }

    .stepsToBidAnimation {
      position: relative;
      width: 100%;
      height: 1800px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      margin-top: -5rem;
      margin-bottom: -200px;

      svg {
        width: 100%;
        height: 75%;
      }
    }

    .stepsToBidCardContainer {
      position: absolute;
      top: 10%;
      left: 15%;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;
    }

    .cardcontainer {
      display: flex;
      width: 65vw;
      gap: 2rem;
    }

    .rightAlign {
      flex-direction: row-reverse;
    }

    .svgPath {
      width: 60%;
      height: 70%;
    }
  }
}

// Medium Desktop (1200px - 1399px)
// @media (max-width: 1399px) {
//   .stepsToBid {
//     height: 1330px;

//     &Container {
//       width: 80%;

//       .SectionTitle {
//         h1 {
//           font-size: 2.75rem;
//         }

//         p {
//           font-size: 1.25rem;
//         }
//       }

//       .stepsToBidAnimation {
//         height: 1260px;
//         margin-top: 3.5rem;

//         svg {
//           height: 85%;
//         }
//       }

//       .stepsToBidCardContainer {
//         gap: 1.75rem;
//       }

//       .cardcontainer {
//         width: 60vw;
//       }
//     }
//   }
// }

// // Small Desktop (1024px - 1199px)
// @media (max-width: 1199px) {
//   .stepsToBid {
//     height: 1200px;

//     &Container {
//       width: 85%;

//       .SectionTitle {
//         h1 {
//           font-size: 2.5rem;
//         }

//         p {
//           font-size: 1.125rem;
//         }
//       }

//       .stepsToBidAnimation {
//         height: 1100px;
//         margin-top: 2rem;

//         svg {
//           height: 80%;
//         }
//       }

//       .stepsToBidCardContainer {
//         gap: 1.5rem;
//         left: 12%;
//       }

//       .cardcontainer {
//         width: 55vw;
//       }
//     }
//   }
// }

// // Tablet (768px - 1023px)
// @media (max-width: 1023px) {
//   .stepsToBid {
//     height: auto;
//     min-height: 100vh;
//     padding: 2rem 0;

//     &Container {
//       width: 90%;

//       .SectionTitle {
//         margin: 0 auto 2rem;
//         text-align: center;

//         h1 {
//           font-size: 2.25rem;
//         }

//         p {
//           font-size: 1rem;
//         }
//       }

//       .stepsToBidAnimation {
//         height: auto;
//         margin: 2rem 0;

//         svg {
//           height: auto;
//           max-height: 600px;
//         }
//       }

//       .stepsToBidCardContainer {
//         position: relative;
//         top: 0;
//         left: 0;
//         width: 100%;
//         margin: 2rem auto;
//         gap: 2rem;
//       }

//       .cardcontainer {
//         width: 100%;
//         flex-direction: column;
//         align-items: center;
//         gap: 1.5rem;
//       }

//       .rightAlign {
//         flex-direction: column;
//       }

//       .svgPath {
//         width: 70%;
//       }
//     }
//   }
// }

// // Mobile (max-width: 767px)
// @media (max-width: 767px) {
//   .stepsToBid {
//     padding: 1rem;

//     &Container {
//       width: 95%;

//       .SectionTitle {
//         margin-bottom: 1.5rem;

//         h1 {
//           font-size: 2rem;
//         }

//         p {
//           font-size: 0.875rem;
//         }
//       }

//       .stepsToBidAnimation {
//         margin: 2rem 0;

//         svg {
//           max-height: 400px;
//         }
//       }

//       .stepsToBidCardContainer {
//         margin: 1rem auto;
//         gap: 1rem;
//       }

//       .cardcontainer {
//         gap: 1rem;
//       }

//       .svgPath {
//         width: 100%;
//       }
//     }
//   }
// }


