.faqOption {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100wv;
  align-items: center;

  &Container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    width: 83%;
    display: flex;
    flex-direction: column;
    // gap: 2rem;

    &Questions {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.faqHeading {
  display: flex;
  align-items: center; /* Align FAQ's > with the title vertically */
  gap: 8px; /* Add space between the breadcrumb and title */
  font-size: 24px;
  font-weight: bold;
}

.breadcrumb {
  font-size: 40px;
  color: #000000; /* Link color for FAQ's > */
  cursor: pointer;
  text-decoration: none;
  letter-spacing:3px;
  font-weight:900!important;
}

.pageTitle {
  font-size: 40px;
  color: #808080; /* Gray color for the title */
  letter-spacing:2px;
  font-weight:900!important;}

.colored_Item {
  border-radius: 20px;
}

.coloredem {
  border-radius: 6px;
}

@media only screen and (max-width: 900px) {
  .faqOption {
    &Container {
      width: 85%;
    }
    .faqHeading {
      font-size: 30px; /* Adjust heading size */

      .breadcrumb {
        font-size: 30px; /* Smaller breadcrumb size */
      }

      .pageTitle {
        margin-top: 8px;
        font-size: 30px; /* Smaller title size */
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .colored_Item {
    border-radius: 5px;
  }
  .faqOptionContainerQuestions {
    margin-top:1rem;
  }
  
}
.faqOptionContainerQuestions{
  margin-top:0.8rem;
}