@import "@fontsource/archivo-black"; 

.PromisesAndCommitments {
  margin-top: 10rem;
  width: 100vw;
  max-width: 100vw;
  justify-content: center;
  background-color: #276ebc;

  &Container {
    width: 100%;
    display: flex;
    /* padding: 2rem 3rem 4rem 4rem; */
    height: 100%;
    padding: 44px 0px;
    /* gap: 2rem; */
    .scrollControllers {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      button {
        padding: 0.5rem;
        color: white;
        border: 4px solid white;
        border-radius: 99px;
      }
    }

    &Right {
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 2rem;
      overflow: hidden;

      .SectionTitle {
        color: white;
        max-width: fit-content;
        text-align: start;
        padding: 0 60px;

        h1 {
          font-size: 40px;
          // font-family: "Archivo Black";
          font-weight: 400;
          letter-spacing: 4px;
          font-family: "Archivo Black";
          margin-bottom: 2px;
        }

        p {
          font-weight: 300;
          font-size: 18px;
          // padding-top: 1px;
          padding-bottom: 2px;
          font-family: "Archivo";
          letter-spacing: 1px;
        }
      }

      .CardSection {
        display: flex;
        gap: 2rem;
        justify-content: center;
        max-width: 100%;
        overflow: auto;
      }
    }

    &Top {
      color: white;
    }
  }

  .swiper {
    margin-left: 42px;
    margin-right: 37px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .scrollControllers {
    padding-top: 75px;
    padding-left: 1rem;
    padding-right: 1rem;
    // margin-left: 3.25rem;
    // margin-right: 3rem;
  }

  .SectionTitle {
    // margin-left: -65%;
  }

  .CardSection {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 10px;
  }

  .CardSection::-webkit-scrollbar {
    display: none;
  }

}

@media (min-width:330px) and (max-width: 400px)  {

  .promiseCardContainer__Content .promiseCardContainer__ContentTitle{
    font-size: 23px!important;
   }

   .promiseCardContainer__Content .promiseCardContainer__ContentContent{
    font-size: 17px!important;
   }
   .PromisesAndCommitmentsContainerRight .SectionTitle{
    padding: 0 10px!important
   }

}

@media screen and (max-width: 480px)  {


  

  .promiseCard {
   width: 90%!important;
    margin: 0 1.6rem!important;
    .promiseCardContainer{
      width: 100%!important;
    }
}
  .swiper-pagination {
    display: none !important;
  }
.PromisesAndCommitments{
background-color: #fff;


}
.availability::after{
  top: -50rem!important;
}
.PromisesAndCommitments .swiper{
  margin: 0;
}

.testimonialsContainer{
  padding: 0 2rem!important;
}
.testimonialCard p{
  padding: 0!important;
  font-size: 15px!important;

}
.testimonialCardContainerProfile{
  margin-left: 0!important;
}
.testimonialsContainer {
p{
  padding-top: 2px;
  // padding-bottom: 1px;
}
}
.SectionTitle{
  padding: 0!important;
  max-width: unset!important;
   h1{
  font-size: 30px!important;
color: black;
text-align: center!important;;
letter-spacing: 2px!important;
   }
p{
  color: black ;
  font-size: 16px!important;
  font-weight: 400!important;
  text-align: center!important;
  margin-bottom: 2px!important;
  letter-spacing: 0px!important;

}
.faqContainer .SectionTitle p{
  letter-spacing: 1px!important;
}
.homedivider .homecircle,.homeline{
  background-color: #276EBC;
}
}

.availability .availabilityContainerTitle p{
  font-size: 17px!important;
}
.availability::after {
  content: "";
  position: absolute;
  background-image: url(/_next/static/media/ring.ca2f54a5.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 148px;
  height: 170px;
  top: -50rem!important;
  /* margin-right: -100px; */
  right: -69px!important;
  z-index: 1;
}

.PromisesAndCommitmentsContainerRight {
 

  align-items: center!important;
}

.testimonialCard p{
  margin-bottom: 4rem!important;
}
}

@media (min-width: 481px) and (max-width: 767px) {

  .promiseCard {
   width: 90%!important;
    margin: 0 1.6rem!important;
    .promiseCardContainer{
      width: 100%!important;
    }
}
  .swiper-pagination {
    display: none !important;
  }
.PromisesAndCommitments{
background-color: #fff;


}
.PromisesAndCommitments .swiper{
  margin: 0;
}

.testimonialsContainer{
  padding: 0 2rem!important;
}
.testimonialCard p{
  padding: 0!important;
  font-size: 15px!important;

}
.testimonialCardContainerProfile{
  margin-left: 0!important;
}
.SectionTitle{
  padding: 0!important;
  max-width: unset!important;
   h1{
  font-size: 45px!important;
color: black;
text-align: center;}
p{
  color: black ;
  font-size: 18px!important;
  font-weight: 400!important;
  text-align: center!important;

}
.homedivider .homecircle,.homeline{
  background-color: #276EBC;
}
}

.availability .availabilityContainerTitle p{
  font-size: 19px!important;
}
.availability::after {
  content: "";
  position: absolute;
  background-image: url(/_next/static/media/ring.ca2f54a5.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 148px;
  height: 170px;
  top: -60rem!important;
  /* margin-right: -100px; */
  right: -69px!important;
  z-index: 1;
}

.PromisesAndCommitmentsContainerRight {
 

  align-items: center!important;
}
}
@media (min-width: 768px) and (max-width: 991px) {


  .heroSectionContainer{
    margin: 0 1rem;
  }

  .availabilityContainerTitle h1{
    font-size: 27px!important;
  }
  .availabilityRightImage {
    position: absolute!important;
    left: 63%!important;
    bottom: 0rem!important;
    top: -6rem!important;
    width: 36%!important;
    object-fit: contain!important;
    height: 420px!important;
    z-index: 2!important;
  }
  .availabilityContainer{
    padding: 5rem 3.5rem!important;
  }

  .avail__bottom__title{
    padding: 0!important;
    font-size: 17px!important;
  }
  .availabilityContainerContent p{
    margin: 0!important;
    padding: 14px 15px 0 0!important;
  }
  .PromisesAndCommitments .swiper{
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .promiseCardContainer h3
  {
    font-size: 16px!important;
  }

  .PromisesAndCommitmentsContainerRight .SectionTitle{
    padding: 0;
  }
}


@media (min-width: 992px) and (max-width: 1200px) {


  .availabilityContainerTitle h1{
    font-size: 33px!important;
  }

}

@media (min-width: 1201px) and (max-width: 1400px) {

  .PromisesAndCommitments {
    margin-top: 26.5rem; 


  }

  .promiseCard{
    width: 100%!important;
    max-width: unset!important;
  }

 .divi{
  width: 100%;
 }

 


}


.dash-indicators {
  display: flex;
  justify-content: center;
  // margin-top: 15px;
  gap: 8px;

  .dash {
    width: 24px;
    height: 4px;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &.active {
      background-color: #276EBC;
      transform: scaleX(1.2);
    }
  }
}
