.FilterIconLayout{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F1F1;
    border-radius: 5px;
    // min-width: 40%;
    margin: 1%;
    padding:0px 16px;
    cursor: pointer;
    height: 70px;

    @media screen and (min-width: 1445px) {
      padding: 0px 29px;
      }
      @media screen and (min-width: 1900px) {
        padding: 0px 39px;
        }
}

.FilterIconLayout img{
    // width: 30px;
    // height: 30px;
    // margin: 10px;
    // padding: 10px;'
    // width: 27px;
    // height: 23px;
}

.reduceSize{
    
    // padding-top: 10px;
    img{
    width: 22px;
    height: 22px;
    // object-fit: cover;
}
}
.selected{
    background-color: white;
    box-shadow: inset 0 0 0 1px #276EBC;
}

.FilterIconLayout>p{
    // font-family: Archivo;
    font-size: 13px;
    font-weight: 400;
    // line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 8px;
  
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 15px;
    }
  
    @media screen and (max-width: 480px) {
      font-size: 12px;
      line-height: 13px;
    }

  
  

  

}
