.SearchPageLayout {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
}

.filtersLayout {
  width: 20%;
  border-radius: 10px;
  padding: 2%;
  margin-top: 1%;
  background-color: #ffffff;
}

.downlodparent{
  display: none!important;
  
      
}


.starparent{
  display: none;
}
.star{
  color: #FFC727;
  margin-top: 5px;
  // vertical-align: middle;
}

.rating-number{
  color: #828282;
  padding-left: 4px;
  padding-bottom: 5px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 5%;
}

.arrow{
  display: none;
}

.filterHeader>p {
  // font-family: Archivo;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: start;

  @media screen and (max-width: 768px) {
    font-size: 22px;
    line-height: 20px;
  }

  @media screen and (max-width: 480px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.carsLayout {
  width: 70%;
  margin: 16px 27px 16px 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filtersIcon {
  margin: 0 3%;
  display: none;
}

.carsGridLayout {
  display: flex;
  flex-wrap: wrap;
}

.sideHeaderTextStyling {
  color: var(--Text-black, #262626);
  // font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.44px;
  margin: 3% 0 2% 0;
}

.hideElement {
  display: none;
}

.closeButton {
  // display: none;
  padding-right: 8%;
  padding-top: 4%;
}

.gridAlignCenter {
  justify-content: center;
}

/* Responsive Styles */
@media screen and (max-width: 1920px) {
  /* Styles for screens 1920px and below */
}

@media screen and (max-width: 1440px) {
  .filtersLayout {
    width: 25%;
  }

  .carsLayout {
    width: 75%;
  }

  .sideHeaderTextStyling {
    font-size: 20px;
  }
}



@media screen and (max-width: 768px) {
  .filterHeader>p {
    font-size: 18px;
  }

  .sideHeaderTextStyling {
    font-size: 16px;
  }
}


.filtersList{
  padding-top: 20px;
}
// .FilterIconLayout {
// min-width: unset!important;
// img{
//   margin: 0!important;
// }
// }
// .FilterIconLayout > p{
//   font-size: 14px;
// }

// dowmload 
.download-container {
  background-color: #276cc3;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap:10px;
  margin-top: 40px;
  justify-content: space-between;
  padding: 14px 20px 0px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
  .download-container {
    flex-direction: row;
  }
}

.download-text {
  color: white;
  max-width: 350px;
}

.download-text h2 {
  font-size: 13px;
  font-weight: 600;
  // line-height: 1.4;
  margin-bottom: 10px;
}

.download-btn {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.download-btn:hover {
  background-color: #f1f1f1;
}

/* Image Section */
.download-image img {
  // max-width: 200px;
  height: auto;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .download-image img {
    margin-top: 0;
  }
}


.phone-wrapper {
  position: relative;
  // width: 250px;   /* same as phone image width */
  // height: 500px;  /* same as phone image height */
}

.app-screen {
  position: absolute;
  top: 40px;  
  left: 5px;
/* adjust according to phone mockup */
  // left: 5px;     /* adjust */
  width: 90px;   /* slightly smaller than phone */
  height: 90px;  /* fit inside phone */
  overflow: hidden;
  border-radius: 20px; /* to match phone edges */
  z-index: 0;
}


@media screen and (max-width: 1024px) {

.arrow{
  display: block;
}
  .downlodparent{
    display: block!important;
     
         position: fixed;
         bottom: 0px;
         right: 15px;
         z-index: 1;
         cursor: pointer;
  
        
        
  }
  .downlodImg{
    bottom: 15.6rem!important;
    right: 13px!important;
  
   
  }
  .download-image img{
    height: auto;
    margin-top: 11px;
    width: 120px;
  }
  .app-screen{
    right:0;
    left:15px;
  }

.download-text h2 {
  text-align: center!important;
}

  .sorticonweb{
    display: none;
  }
  .searchPageTime{
    font-size: 30px!important;
  }
  .searchPageTimeLeft{
  margin-right: 0!important;
  font-size: 30px!important;
  }
    .filtersIcon{
      margin-right: 4rem;
      // font-size: 70px;
    }
    .arrow{
      margin-right: 1rem;
    }
  
    .cardHeader{
      justify-content: center;
      width: 100%;
    }
  
    .sideHeaderTextStyling{
      font-size: 20px;
      margin: 0;
      margin-top: 20px;
    }
    .filterHeader{
     padding: 0px 25px !important;
     p{
      font-weight: 400;
     }
    }
    .sortfilterHeader{
      padding: 2px 27px 0px 27px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        font-size: 20px;
        display: flex;
       
        align-items: center;
      }
    }
  
    
  .reset button{
  
     width: unset!important; 
     padding: 0px!important; 
     margin: 0 !important; 
     font-size: 20px!important;
  }
    
  
   
    .filterParent{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #276cc3;
     color: #fff;
    }
     .SearchPageLayout {
       flex-direction: column;
     }
   
     .filtersLayout {
       width: 100%;
       // width: 20%;
       border-radius: 10px;
       /* padding: 2%; */
      //  margin-top: 1%;
       background-color: #f5f5f5;
       padding: 0;
       margin: 0;
       z-index: 9999;
     }

 
   
     .carsLayout {
       width: 95%;
       margin: 1% 3%;
     }
   
     .sideHeaderTextStyling {
       font-size: 18px;
     }
   
     .filtersIcon {
       display: block;
     }
   
     .closeButton {
       display: block;
       display: flex;
       flex-direction: row-reverse;
       padding: 20px 27px;
     }
     .filterCardLayout{
      margin: 0 20px!important;
      background-color: #fff;
     }
     
     .carsLayout{
      width: 100%;
     }
     .search_btn{
      display: none;
     }
     .showDownloadImg{
      display: none;
     }
     .mainContainer{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #ffffff;
      padding: 15px 30px;
      border-radius: 43px!important;
      align-items: center;
      flex-direction: column;
      gap: 6px;
     }
     .titleContainer{
      flex-direction: row!important ;
      width: 100%;
      align-items: center!important;
  
     }
     .locationMainContainer, .timeMainContainer{
      width: 100%!important ;
     }
     .miniContainer{
     margin-bottom: 0!important ;
     }
     .title{
      
      display: none;
     }.description{
      font-size: 18px!important;
      font-weight: 400!important;
     }
     .timingContainer{
      justify-content: unset!important;
     }
    }




@media screen and (max-width: 768px) {
  .filtersLayout {
    padding: 0%;

  }
  .cardHeader{
    padding:0 4px;
  }
  .mainContainer{
    padding: 9px 10px!important;
  }
  
  .filterCardTitle{
    font-size: 17px!important;
  }
  .filtersList{
    padding: 0!important;
    padding-top: 20px!important;
  }
  .filterCardTitle{
    padding:10px 20px!important;
  }
  .sortfilterHeader p{
    padding: 0!important;
  }
  .filterHeader>p {
    font-size: 16px;
  }

  .sideHeaderTextStyling {
    font-size: 26px!important;
  }

  .carsLayout {
    margin: 2% 1%;
  }

  .closeButton {
    // padding-right: 5%;
    // padding-top: 2%;
  }

  .filterHeader>p {
    font-size: 20px;
  }

  .timeMainContainer{
    width: 100%;
    margin: 0!important ;

    .infoCard{
      padding: 0;
    }
    .searchPageTimeLeft, .searchPageTime{
      font-size: 20px!important ;
      margin-right: 0!important ;
    }
  }
  .searchPageTime{
    font-size: 20px!important ;
  }
  .description{
    font-size: 13px!important ;
  }
  .filtersIcon{
    margin-right: 1rem!important;
  }
  .filterIc{
    font-size: 25px!important;
  }
  .sideHeaderTextStyling{
    font-size: 16px!important;
  }
  .LocationOnIcon{
    font-size: 25px!important;
  }
  .iconContainer{
    margin: 0!important;
    padding: 0;
  }
  .locationMainContainer{
    margin: 0!important;
  }
  .infoCard{
    padding: 0!important;
  }
  .mainContainer{
    gap: 1px;
    margin-left: 7px!important;
    margin-right: 0px!important;
  }

  .carCardContainer{
    // margin-right: 0!important;
    margin: 10px 20px!important;
  }

  .textStyling{
    font-size: 20px!important;
   
  }
  .priceActionContainer {
    
    
    margin-top: 10px;
    button{
  
    width: 150px!important;
    height: 37px!important;
    font-size: 16px!important;
  
  }
  }
  .sideHeaderTextStyling{
        /* text-align: center; */
        margin-left: 2rem!important;
        margin-bottom: 0rem!important;
        padding: 10px 0 10px 0!important;
        font-size: 20px!important;
  }
  .arrow{
    margin-right: 0!important;
    margin-left: 13px!important;
  }
  .filtersIcon{
    margin-right: 13px!important;
  }
}


@media screen and (max-width: 480px) {
  .cardHeader{
    padding: 0!important;
  }
  .carCardContainer{
    margin: 7px 11px !important;
  }
  .textStyling{
    font-size: 16px!important;
    padding-bottom: 0!important;
  }
.sideHeaderTextStyling {
font-size: 15px!important;
margin-left: 1rem!important;
padding: 0 0 4px 0 !important;

}
.imgContainer {
  width: 24%!important;
}
.textContainer{
  padding-left:0%!important;
  padding-right: 2%!important;
}
.priceActionContainer 


{
  margin-top: 5px!important;
  button{
  font-size: 14px !important;
  width: 110px !important;
  height: 28px !important;
}
}
.priceStyle{
  font-size: 16px!important;
}
.iconText{
  gap: 3px!important;
  padding-left: 0!important;
  margin-left: -10px!important;
}
.miniContainer1{
  // margin-left: -15px!important;
}
.carsLayout{
  margin: 2% 0!important;
}
.searchPageTime,.searchPageTimeLeft{
  display: none;
  font-size: 15px!important;
}
.arrowIc{
  display: block!important;
  margin-right: 0px!important;
  margin-left: 2px!important;
  font-size: 15px!important;
  
}


.arrowparent
{
  // padding-right: 0!important;
  // padding-left: 0px!important;
}
.description{
  font-size: 11px!important;
}

.reduceSize img{
  width: 30px!important;
  height: 30px!important;
}

.FilterIconLayout > p {
  font-size: 15px!important;
  font-weight: 400;
}

}




@media screen and (min-width: 1025px) {

  .starparent{
    display: block;
  }
.headingwebparent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .sorticonweb{
    color: #828282!important;
    margin-right: 5rem;
    .sorticonwebs{
      // font-weight: bold!important;
margin-left: 5px;
      vertical-align: middle;

    }
  }
}
.closeButton{
  display: none;
}
.sortfilterHeader

{
   
    text-align: right;
    margin-top: -2rem;
  
>p{
  display: none;
}
.reset button{
  font-weight: 600!important;
}
}
.mainContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  padding: 15px 10px;
  border-radius: 10px;
  align-items: center;
  margin: 0 5rem 0 0rem;
}
}










.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  // background: #f9fafb;
  width: 95%;
  height: 100%;
}

.card {
  position: relative;
  // max-width: 320px;
  // padding: 0px 6px;
  background: #fff;
  // border: 1px solid #e5e7eb;
  // border-radius: 16px;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Circles */
.circle {
  position: absolute;
  border-radius: 50%;
  background: #93c5fd;
  opacity: 0.7;
}

.circle1 {
  top: -83px;
  left: 0px;
  width: 64px;
  height: 64px;
}

.circle2 {
  top: -38px;
  left: 80px;
  width: 20px;
  height: 20px;
}

.circle3 {
  top: 1rem;
  right: 1rem;
  width: 64px;
  height: 64px;
}

.circle4 {
  top: 0rem;
  right: 6px;
  width: 20px;
  height: 20px;
}

/* Content */
.titless {
  font-size: 22px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 20px;
  margin-top: 76px;
}

.offer-box {
  padding: 31px 22px;
  background: #dbeafe;
  border-radius: 12px;
}

.offer-text {
  color: #374151;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 500;
}

.offer-code {
  background:#276EBC;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  padding: 6px 8px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
}

.offer-code:hover {
  background: #2563eb;
}

.validity {
  font-size: 15px;
  color: #374151;
  font-weight: 500;
}


@media (max-width: 768px) {

  .container{
    width:100%;
  
    background: #dbeafe;
    border-radius: 20px;
   
  }

  .card{
    background: #dbeafe;
    // padding: 10px 10px;
  }
  .offer-code {     
    font-size: 16px;
    padding: 8px 19px;
    
    font-size: 14px; 
    padding: 8px 12px; }

  .titless{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
.offer-text{
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding: 7px 0 16px 0;
}
  .offerdiv{
    display: flex;
    align-items: center;
  }
  .validity{
    font-size: 13px;    padding-left: 10px;
    margin-top: -10px;

   
  }

  .offer-box{
    padding: 0 22px;
    border-radius: unset;
  }

  .circle1 {
    top: 0rem;
    left: 15px;
    width: 50px;
    height: 50px;
  }
  
  .circle2 {
    top: 2.6rem;
    left: 4.2rem;
    width: 15px;
    height: 15px;
  }

  .circle3{
    top: 3rem;
    right: 1rem;
    width: 50px;
    height: 50px;
  }
  .circle4{
    top: 2.3rem;
    right: 56px;
    width: 15px;
    height: 15px;
  }
  
}




@media  (min-width: 1024px) and (max-width: 1199px) {
 
  .showDownloadImg{
    display: none;
   }
   .downlodparent{
    display: block!important;
     
         position: fixed;
         bottom: 0px;
         right: 15px;
         z-index: 1;
         cursor: pointer;
  
        
        
  }
  .downlodImg{
    bottom: 15.6rem!important;
    right: 13px!important;
  
   
  }
  .download-image img{
    height: auto;
    margin-top: 11px;
    width: 120px;
  }
  .app-screen{
    right:0;
    left:15px;
  }

.download-text h2 {
  text-align: center!important;
}

}


@media  (min-width: 1200px) and (max-width: 1439px) {


  .download-image img{
    width: 68px;
  }

  .app-screen {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 57px;
    height: 30px;

  }
  .download-btn{
    margin-bottom: 16px;
  }

}


@media (min-width: 1439px) {

  .filtersLayout{
    width: 30%;
  }



}

.searchPageTimeLeft{
  margin:0px!important
}