@import "@fontsource/archivo-black";
.testimonials {
  margin-top: 7rem;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5.625rem;

  &Container {
    width: 100%;
    display: flex;
    padding: 0 5rem;
    flex-direction: column;

    .SectionTitle {
      margin-left: 1%;
      display: flex;
      flex-direction: column;
      color: Black;
      max-width: fit-content;

      h1 {
        font-family: "Archivo Black";
        text-align: left;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 0px;
   
      }

      p {
        text-align: left;
        font-size: 18px;
        // margin-bottom: 5px;
        font-family: "Archivo";
        letter-spacing: 1px;
        // margin-top: 6px;
      }
    }

    &Cards {
      margin-top: 4rem;
      gap: 0rem;
      display: flex;

      align-items: center;
    }
  }
}


