.heroSection {
  background-color: #f0f0f0;
  width: 100%;
  // min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.heroSectionContainer {
  // width: 100%;
  // max-width: 1800px;
  // margin: 0 auto;
  // padding: clamp(1rem, 3vw, 3rem);
  // display: flex;
  // position: relative;


  width: 94%;
  /* max-width: 1800px; */
  margin: 0 4rem;
padding: 20px 10px;
  display: flex;
  position: relative;

  h1{
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 600;
    padding-top: 4rem;
  }
}

.heroSectionContainer__left {
  width: 60%;
  padding: clamp(1rem, 2vw, 3rem);
  display: flex;
  flex-direction: column;
  // gap: clamp(1.5rem, 3vw, 3rem);
}

.heroSectionContainer__left-top {
  color: #262626;
}

.heroSectionContainer__left-top h1 {
  font-weight: 400;
  font-size: clamp(2rem, 4vw, 60px);
  font-family: "Krona One", sans-serif;
  line-height: 1.2;
  margin-bottom: clamp(0.5rem, 1vw, 12px);
}

.heroSectionContainer__left-top p {
  font-size: clamp(1rem, 2vw, 25px);
  font-weight: 500;
  // font-family: "Archivo";
  line-height: 1.4;
}

.heroSectionContainer__left-middle {
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding-top: 2rem;
}

.heroSectionContainer__left-middle p {
  font-weight: 400;
  font-size: 18px;
}

.heroSectionContainer__left-middleLogos {
  display: flex;
  gap: clamp(1rem, 2vw, 3rem);
  flex-wrap: wrap;
}

.heroSectionContainer__left-middleLogos img {
  width:140px;
  height: auto;
  object-fit: contain;
}

.heroSectionContainer__left-bottom {
  width: 100%;
  padding-top: 3rem;
}

.heading2 {
  font-size: clamp(1rem, 1.2vw, 18px);
  font-weight: 500;
  // font-family: "Archivo", sans-serif;
  margin-bottom: clamp(0.5rem, 1vw, 13px);
}

.heroSectionContainer__left-bottomWrapper {
  width: 100%;
  max-width: 850px;
  border-bottom: clamp(4px, 0.6vw, 9px) solid #0f4582;
  border-radius: clamp(10px, 1.5vw, 20px);
  background: #f6f6f6;
  padding: clamp(1rem, 2vw, 2rem);
}

.heroSectionContainer__left-bottomLeft {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1rem);
}

.heroSectionContainer__left-bottomLeft-row {
  display: flex;
  align-items: center;
  gap: clamp(0.2rem, 0.5vw, 0.5rem);
  // font-family: "Archivo", sans-serif;
}

.heroSectionContainer__left-bottomLeft-row h3 {
  font-size: clamp(0.7rem, 0.9vw, 0.9rem);
}

.heroSectionContainer__left-bottomLeft-row p {
  width: clamp(50px, 5vw, 76px);
  font-weight: bold;
  font-size: clamp(0.8rem, 1vw, 14px);
}

.heroSectionContainer__left-bottomLeft-rowLeft {
  display: flex;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
}

.heroSectionContainer__left-bottomLeft-rowLeft p {
  width: clamp(200px, 20vw, 326px);
  font-size: clamp(0.8rem, 0.9vw, 13px);
}

.heroSectionContainer__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSectionContainer__right img {
  width: 100%;
  // max-width: 853px;
  // height: auto;
  object-fit: contain;
}

// @media (max-width: 1024px) {
//   .heroSectionContainer {
//     flex-direction: column;
//   }

//   .heroSectionContainer__left {
//     width: 100%;
//     align-items: center;
//     text-align: center;
//   }

//   .heroSectionContainer__right {
//     position: relative;
//     width: 100%;
//     margin-top: 2rem;
//   }

//   .heroSectionContainer__left-middleLogos {
//     justify-content: center;
//   }

//   .heroSectionContainer__left-bottomWrapper {
//     margin: 0 auto;
//   }
// }

// @media (max-width: 768px) {
//   .heroSectionContainer__left-bottomLeft-row {
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .heroSectionContainer__left-bottomLeft-rowLeft {
//     flex-direction: column;
//     align-items: flex-start;
//   }
// }

// @media (max-width: 480px) {
//   .heroSectionContainer__left {
//     color: #f0f0f0;
//   }
//   .heroSectionContainer {
//     width: 100%;
//     max-height: 650px;
//     max-width: 1800px;
//     margin: 0 auto;
//     padding: clamp(1rem, 3vw, 3rem);
//     display: flex;
//     position: relative;
//     background-color: #276ebc;
//     border-radius: 30px;
//   }

//   .heroSectionContainer__left-bottom {
//     background-color: #fff;
//     color: black;
//     border-radius: 20px;
//   }

//   .heroSectionContainer__left h1 {
//     font-size: xx-large;
//   }

//   .heroSectionContainer__left p {
//     font-size: x-large;
//   }
//   // .heroSectionContainer__left-middleLogos img {
//   //   width: 100%;
//   //   max-width: 150px;
//   // }
//   .heroSectionContainer__left-middle {
//     display: none;
//   }

//   .heroSectionContainer__right img {
//     max-width: 300px;
//   }
// }


@media (max-width: 767px) {
  .homebtn button{
    width: 100% !important;
    font-size: 20px !important;
    margin :0 13px!important;
  }
 
  .heroSection {
    background-color: #276EBC;
    overflow: unset;
    width: 100%;
    border-radius: 20px;
    .heroSectionContainer {
      width: 100%;
      /* max-width: 1800px; */
      /* margin: 0 4rem; */
      padding: 20px 10px;
      display: flex
  ;
      position: relative;
      flex-direction: column;
      margin: 0;
      h1{
        color: #fff;
        font-size: 60px;
        text-align: center;
      }
      p{
        color: #fff;
        font-size: 18px!important;
        padding: 9px 11px;

      }

      .heroSectionContainer__left {
        width: 100%;
        padding: clamp(1rem, 2vw, 3rem);
        display: flex
    ;
        flex-direction: column;
    }
    .heroSectionContainer__right {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex
  ;
      align-items: center;
      justify-content: center;

      img {
        width: 85%;
        object-fit: contain;
        margin-top: 14rem;
        height: auto;
    }
  }

  .heroSectionContainer__left-middle{
    display: none;
  }

  .heroSectionContainer__left-bottom p{
    display: none;
  }
  .heroSectionContainer__left-bottom{
    padding-top: 24rem;
  }

  .homeMainContainer {
    border-bottom: 7px solid #0F4582!important;
    
    display: flex;
box-shadow: 0px 4px 10px 0px #0000001A;

    /* justify-content: space-between; */
    width: 90%;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    // background-color: #fff;
    border-radius: 20px;
    margin-top: 1rem;
    padding:20px 15px;
    flex-direction: column;
    gap: 0rem;

    position: absolute;
        bottom: -12rem;

        position: absolute;
bottom: -12rem;
left: 1.5rem;
right: 1.5rem;   /* equal margins from both sides */
margin: 0 auto; /* center horizontally */
width: auto;    /* content-based width */


    .homeLocationDateContainer{
      align-items: flex-start;
    }
}
  }

  .infoCardHome .titleContainerHome {
    flex-direction: column;
    align-items: flex-start;

    .descriptionHome{
      font-size: 21px;
    }

    .miniContainerHome{
justify-content: flex-start;
margin-bottom: 8px;

    .iconContainerHome{
      padding-right: 3px;
    }

    .titleHome{
      font-size: 18px;
      color: #505050;
    }
    
  }
  
  }
  .homeTimeMainContainer{
    width: 100%;
    
  }
  .homelocationMainContainer{
    width: 100%;
  }
}

.availabilityContainer{
  padding: 0 1rem!important;
}
.availabilityRightImage{
  display: none!important;
}

.availabilityContainerTitle h1 {
  font-size: 32px!important;
  font-weight: 500!important;
  padding-bottom: 7px!important;
  padding-top: 11rem!important;
}

.availability{
  background-position: center!important;
  margin-bottom: 1rem!important;
  // background-image: url(../../../../assets/images/Availability/hill.jpeg)!important;
  background-image: url(../../../../assets/images/Availability/minimalist-photorealistic-desert-road.png)!important;
  .availabilityContainerTitle p {
    font-size: 1rem!important;
    letter-spacing: 1px!important;
    font-weight: 500!important;
    text-align: center!important;
    // padding-top: 6rem!important;
    padding: 6rem 3px 0rem 3px!important;
}
.availabilityContainerContent{
  width: 100%!important;
  p{
  text-align: center!important;
  font-size: 16px!important;
}
}

}
.availabilityContainerContentBadges{
  text-align: center!important;
  margin-bottom: 1rem!important;
  img{
    width: 168px!important;
    height: 100%!important;
    object-fit: contain!important;
  }
}

}


@media (min-width: 768px) and (max-width: 991px) {

  .homebtn button{
    width: 100% !important;
    font-size: 18px !important;
    margin :10px 13px!important;
  }
  .homeMainContainer{
    gap: 0 !important;
    padding: 10px 0!important;
  }
.heroSectionContainer__left {
  width: 59%;
  padding: clamp(1rem, 2vw, 3rem);
  display: flex
;
  flex-direction: column;
}


.heroSectionContainer__right img {
  width: 349px;
  /* object-fit: contain; */
  /* height: auto; */
  height: 442px;
  object-fit: unset;
}

.homeMainContainer {
  flex-direction: column;
  padding-bottom: 3%;
  padding-top: 3%;
  gap: 0rem;
  padding: 10px 0px 10px 0px;
}
}

@media (max-width: 480px) {

  .heroSection .heroSectionContainer .heroSectionContainer__left{
    padding: 10px   10px;
  }
  .heroSection .heroSectionContainer p{
    color: #fff;
    font-size: 16px !important;
    padding: 9px 0px;
    text-align: center;
  }
  }
  

  @media (max-width: 400px) {
    .heroSection .heroSectionContainer h1{
      font-size: 50px;
    }

    .heroSection .heroSectionContainer p{
      color: #fff;
      font-size: 13px !important;
      padding: 9px 0px;
      text-align: center;
    }

    .heroSection .infoCardHome .titleContainerHome .descriptionHome{
      font-size: 17px;
    }



  }