
@import "@fontsource/archivo"; /* defaults to 400 weight */


.joinWithUsLayout {
  // overflow-x: hidden;
  // margin: 0 0%;
  // font-family: "Archivo";
}

.left_right_margin{
  // margin: 0px auto;
  padding: 30px 107px;
  // width: 90%;

}
.apply_btn{
  margin-top: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 17px;
  outline: none;
  border: none;
}
.common_btn {
  background-color: #fff;
  color: #276EBC;
  border: 1px solid #276EBC;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px 40px;
}

.common_btn:hover {
  background-color: #276EBC; /* blue */
color: #fff;
}

.activeBtn {
  background-color: #276EBC; /* blue */
  color: white;
  // border: 1px solid #276EBC;
}


 .work_parent{
  margin: 6% auto;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: unset;

h1{
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: "Archivo"
}

p{
  margin-top: 0px;
  	font-size: 15px;
    margin-bottom: 1%;
    letter-spacing: 1px;
    width: max-content;
    padding-bottom: 15px;
    font-family: "Archivo";
    
  
}

 .btn_grp{
  display: flex;
  justify-content: space-between;
  // background-color: red;
  width: 100%;
 
  .englishBtn{
  
    background:#276EBC;
    font-size: 20px;
    padding: 10px 40px;
    }
    .teluguBtn{
    color: #276EBC;
    background: #fff;
    border:1px solid #276EBC;
    font-size: 20px;
    padding: 10px 40px;
    
    
    }
    >div{
      text-align: center;
    }
}



}




.intro {
  background-color: #276EBC;
  width: 100%;
  // height: 55vh;
  border-radius: 20px;
  // margin: 0 20px;
  padding-top: 37px;
  
}

.intro .clouds {
  width: 100%;
  height: 75px;
  background-image: url('../../assets/images/JoinWithUs/clouds.png');
  background-size: cover;
  // background-position: center;
  z-index: -1;
}

.intro_content {
  display: flex;
  justify-content: space-between;
}

.intro_text {
  width: 50%;
  padding: 3% 5%;
  h1{
    font-family: "Archivo";
    font-weight: 500;
  }
}

.intro_text p {
  color: white;
  font-size: 18px;
  line-height: 1.3;
letter-spacing: 1px;
  font-weight: normal;
  font-family: "Archivo";
}

.intro_text span {
  font-size: 35px;
  // font-weight: bold;
  line-height: 24px;
}

.intro_image {
  width: 40%;
  text-align: center;
}

.intro_image img {
  width: 100%;
  height: 350px;
  object-fit: contain;

  position: relative;
  top: 60px;
  
}

.sectionHeader {
  margin: 6% 0 0 0;
}

.cards {
  width: 100%;
  // margin: 0 3%;
}

.cards>p {
  // font-family: Archivo;
  font-size: 23px;
  font-weight: 400;
}

.cards .p{
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}


.formSection {
  width: 100%;
  // margin: 0 2%;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
}



.heading img{
  width: 200px;
  height: 200px;
  margin-left: 20%;
  margin-top: 40px;
}

.form{
  width: 40%;
}

p.sectionTitleTextStyling.undefined{
  font-size: 43px;
  // font-family: Archivo;
  font-weight: bold;
}

p.tagLinesTextStyling.undefined{
  font-size: 18px;
  font-weight: 500;
  margin-top: 3px;
}

.joinSectionHeader__top{
  margin: 6% auto;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;

}

.joinSectionHeader__top h1{
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: Archivo; 
}

.joinSectionHeader__top p{
  margin-top: 5px;
  	font-size: 15px;
    margin-bottom: 5px;

    letter-spacing: 1px;
    width: max-content;
    font-family: "Archivo";
    letter-spacing: 1px;
  
}

.p__header__join__top{
  width: 100%;
  font-size: 15px;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;


  
}


.joinSectionHeader__bottom{
  // margin-left: 5%;
  margin-bottom: 8%; 
   margin-top: 80px;
  // display: flex;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;

}


.joinSectionHeader__bottom h1{
  font-size: 38px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  // height: 70px;
  // letter-spacing: 2px;
  width: max-content ;
  line-height: 1;
  margin-bottom: 5px;
  font-family: "Archivo"
}

.p__header__join__bottom{
  width: 100%;
  font-size: 18px;
  align-items: center;
  // margin-top: 5px;
  font-weight: 400;
  padding-left: 5px;

line-height: 23px;
font-family: "Archivo";
letter-spacing: 1px;
}

.divider{
  width: 100%;
}


.p__header__join__top h1{
  font-size: 14px;
}


@media only screen and (max-width: 500px) {
  .cards {
    width: 95%;
    margin: 3% 3%;
  }
  
  .cards>p {
    // font-family: Archivo;
    font-size: 13px;
    font-weight: 500;
  }
  .form{
    
    width: 95%;
}
  .cards .p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7%;
    margin-top: 10px;
  }

  .joinSectionHeader__top{
    margin: 10% auto;
    margin-bottom: 5%;
  }

  .joinSectionHeader__top h1{
    font-size: 30px;
    margin-top: 6%;
    // font-family: 'Archivo';
  }

  .joinSectionHeader__top p{
    font-size: 10px;
    margin-bottom: 3%;
  }

  .joinSectionHeader__bottom h1{
    font-size: 23px;
  }
  

}

@media screen and (max-width: 768px) {
  .joinSectionHeader__top{
    margin: 16% auto;
    margin-bottom: 10%;
  }

}


@media screen and (max-width: 960px) {

  .joinSectionHeader__top{
    margin: 15% auto;
    margin-bottom: 4%;
  }

  .cards .p{
    font-size: 17px;
  }
}



@media screen and (max-width: 380px) {

  .intro_text h1{
    margin-top: 2rem;
  }
  .joinSectionHeader__top{
    margin-top: 30%;
  }

  .joinSectionHeader__top h1{
    font-size: 2rem;
  }
  .joinSectionHeader__top p{
    font-size: 10px;
  }
}



@media only screen and  (max-width:480px) {
  .cloud_web{
    display: none;
  }
  .cloud_mobile{
    display: block;
  }

  .work_parent .btn_grp{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
.frame{
  width: 100%!important;
}

.formDiv h1{
  text-align: center;
  font-size: 26px;
}

.telugu_section{
  margin-top: 60px!important;
}

  .left_right_margin{
    padding: 0px 26px!important;
  }

  .intro_text span{
    font-size: 23px;
  }
  .intro_content{
    display: block;
  }
.telugu_section>div{
  padding-top: 1rem!important;
}
.english_section>div{
  padding-top: 1rem!important;
}
  .intro_text{
    width: 100%;
    padding: 0% 9%;
    text-align: center;
    h1{
      font-size: 22px;
      font-weight: normal;
      margin-top: 2rem;
    }
    h3{
      font-size: 16px;
    }
    p{
   
      font-size: 13px!important;
      padding: 29px 0!important;
    }
   
  
  }
.intro_image{
  width: 100%;
  position: relative;
  height: 234px;
  // height: 158px;
}
  .intro_image img {
// top: 20px!important;
top: 29px!important;
padding: 0px 20px;
position: absolute;
right: 0;
height: 100%;
  }
  .joinSectionHeader__top{
  
   margin-top: 40px!important;
  }
  .joinSectionHeader__top p{
    margin-top: 5px!important;
    letter-spacing: 1px!important;
    // font-size: 11px!important;
  }
  .cards .p{
    font-size: 15px!important;
    font-weight: 500!important;
  }
  .plainText{
    letter-spacing: 0!important;
  }
  .cardDiv{
    margin: 4% 0!important;
  }

  .joinSectionHeader__bottom {
    margin: 0px auto!important;
    display: flex;
  }
  .joinSectionHeader__bottom h1{
    // height: unset!important;
    // font-size: 30px!important;
  }
  .joinSectionHeader__bottom_parent{
    width: 100%!important;
    // width: fit-content!important;
  }
  .form{
    margin-top:40px!important;
    margin-bottom: 35px!important;
    width: 100%!important;
  }
 
  .formSection{
    // margin-top: 0!important;
  }
  .aboutdivider{
    padding: 0px 0px!important;
  }

  .formImg{
    display: none;
  }

  .formSection{
    display: block;
    margin-top: 40px;
  }
  .joinSectionHeader__bottom h1{
    font-size: 20px;
    margin: 0;
    padding:0;
    height: unset;

  }
  .p__header__join__bottom{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
  }

  .joinSectionHeader__top{
    h1{
      font-size: 24px!important;
    }
  }
  .p__header__join__top{
    font-size: 10px!important;
   p{
    letter-spacing: 0px!important;
   }
  }

  .cards > p{
    font-size: 14px;
    font-weight: 400;
  }
  .cards .p{
    font-size: 14px!important;
  }


  .heading{
    letter-spacing: 0!important;
    font-size:14px!important;
    padding-bottom: 8px;
  }



  .cardDiv{
    padding: 16px 0!important;
  }

  input{
    height: 45px;
  }
  form label{
    font-size: 13px;
  }

  .cards{
    width: 100%;
    margin: 0;
  }
  .formDiv{
    border-radius: 20px;
  }

  .joinSectionHeader__top p{
    letter-spacing: 0px!important;
    font-size: 11px!important;
  }

  .intro 
  {
    padding-top: 15px;
  .clouds{
    height: 43px;
  }
}
}


@media  (min-width:481px) and  (max-width:767px) {
  .cloud_web{
    display: none;
  }
  .cloud_mobile{
    display: block;
  }

  .work_parent .btn_grp{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
.frame{
  width: 100%!important;
}

.telugu_section{
  margin-top: 60px!important;
}
.formDiv h1{
  text-align: center;
}

  .left_right_margin{
    padding: 0px 26px!important;
  }

  .intro_content{
    display: block;
  }

  .intro_text{
    width: 100%;
    padding: 0% 9%;
    text-align: center;

    p{
      padding-top: 0px 0px!important;
    }
   
  
  }
.intro_image{
  width: 100%;
  position: relative;
  height: 255px;
}
  .intro_image img {
top: 60px!important;
padding: 0px 20px;
position: absolute;
right: 0;
height: 100%;
  }
  .joinSectionHeader__top{
   margin-top: 80px!important;
  }
  .joinSectionHeader__top p{
    margin-top: 5px!important;
    letter-spacing: 1px!important;
    // font-size: 11px!important;
  }
  .cards .p{
    font-size: 15px!important;
    font-weight: 500!important;
  }
  .plainText{
    letter-spacing: 0!important;
  }
  .cardDiv{
    margin: 4% 0!important;
  }

  .joinSectionHeader__bottom {
    margin: 0px auto!important;
  }
  .joinSectionHeader__bottom h1{
    // height: unset!important;
    // font-size: 30px!important;
  }
  .joinSectionHeader__bottom_parent{
    width: 100%!important;
    // width: fit-content!important;
  }
  .form{
    margin-top:40px!important;
    margin-bottom: 35px!important;
    width: 100%!important;
  }
 
  .intro_text p{
    padding: 29px 0!important;
    font-size: 14px!important;
  }
  .formSection{
    // margin-top: 0!important;
  }
  .aboutdivider{
    padding: 0px 0px!important;
  }

  .formImg{
    display: none;
  }

  .formSection{
    display: block;
    margin-top: 40px;
  }
  .joinSectionHeader__bottom h1{
    font-size: 25px;
    margin: 0;
    padding:0;
    height: unset;

  }
  .p__header__join__bottom{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
  }

  .joinSectionHeader__top{
    h1{
      font-size: 40px!important;
    }
  }
  .p__header__join__top{
    font-size: 15px!important;
  }

  .cards > p{
    font-size: 18px;
  }
  .cards .p{
    font-size: 20px!important;
  }


  .heading{
    letter-spacing: 0!important;
  }
  .intro_text h1{
    margin-top: 2rem;
  }
}


@media  (min-width:768px) and  (max-width:991px) {
  .cloud_web{
    display: block;
  }
  .clouds_mobile{
    display: none;
  }

  .frame{
    width: 330px!important;
  }
  .left_right_margin{
    padding: 30px 30px;
  }
  .intro_image{
    width: 50%;
  }

  .intro_image img{
    top: 114px;
  }

  .cardDiv{
    margin: 3% 0!important;
  }

  .heading{
    font-size: 22px!important;
  }
  .plainText{
    font-size: 15px!important;
  }

  .joinSectionHeader__bottom  p{
    font-size: 17px;
    margin: 0;
    padding:10px;
  }
  .joinSectionHeader__bottom h1{
    margin: 0;
    padding: 0;
    height: unset;
    font-size: 25px;
  
  }
  .intro_text{
    width: 50%;
  }
  .intro_text h1{
    margin-top: 2rem;
  }
}

@media  (min-width:956px) and  (max-width:1199px) {
  .intro_image{
    width: 50%;
  }

  .cloud_web{
    display: block;
  }
  .clouds_mobile{
    display: none;
  }
  .frame{
    width: 350px!important;
  }
  .cardDiv{
    margin:4% 0!important;
  }
  .cards {
    > p:first-child  {
      font-size: 30px;
      margin-top: 50px;
      
    }
    .p{
      font-size: 35px;
    }
  }
  .joinSectionHeader__bottom{
    h1{
      font-size: 40px;
    }
  
  }

  .form{
    width: 100%!important;
  }
  .joinSectionHeader__bottom  p{
    font-size: 20px;
    margin: 0;
    padding:10px;
  }
  .joinSectionHeader__bottom h1{
    margin: 0;
    padding: 0;
    height: unset;
    font-size: 30px;
  }
  .heading{
    line-height: unset!important;
    padding-bottom: 30px;
  }

  .joinSectionHeader__bottom_parent{
    width: 100%!important;
  }

  .intro_text {
    p{
      font-size: 20px;
    }
  }
  .image img{
    width: 75%!important;
  }

  .formSection{
    gap: 40px;
  }
  .intro_image img{
    top: 60px;
  }
  .intro_text h1{
    margin-top: 2rem;
  }
}

@media  (min-width:1200px) and  (max-width:1300px) {
  .cloud_web{
    display: block;
  }
  .clouds_mobile{
    display: none;
  }
  .frame{
    width: 440px!important;
  }

  .intro_image{
    width: 50%;
  }
}

@media  (min-width:1301px) {
  .intro_image{
    width: 50%;
  }
  .cloud_web{
    display: block;
  }
  .clouds_mobile{
    display: none;
  }
}


@media  (min-width:1301px) {
  .intro_image img{
left: 60px;


  }

  .intro .clouds {
    height: 100px;
    width: 100%;
  }
}