.operatingZones {
  margin-top: clamp(2rem, 5vw, 5rem);
  width: 100%;
  height: 100%;

  &Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .SectionTitle {
      margin: 0 6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: Black;
      max-width: fit-content;

      h1 {
        font-family: "Archivo";
        // font-size: clamp(1.5rem, 3vw, 3.125rem);

        font-size: 40px;
        font-weight: 700;
        margin-bottom:2px;
        letter-spacing: 2px;
        
      }

      p {
        // margin-bottom: 3px;
        font-size:18px;
        font-family: "Archivo";
        letter-spacing: 1px;
      }
    }

    &Content {
      margin-top: 1rem;
      position: relative;
      width: 100%;
      display: flex;

      &BG {
        position: absolute;
        z-index: -2;
        top: 50%;
        transform: translateY(-50%);

        img {
          width: min(100%, 1920px);
          height: clamp(68px, 10vw, 98px);
          object-fit: contain;
        }
      }

      &Location {
        z-index: 99;
        position: absolute;
        img {
          object-fit: contain;
          width: clamp(45%, 50%, 55%);
        }
      }

      &Cards {
        width: 100%;
        display: flex;
        gap: clamp(0.5rem, 2%, 2rem);
        align-items: center;
        justify-content: flex-end;
        margin-right: clamp(1rem, 19.25%, 27.5%);
      }
    }
  }
}

.card__2__3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: clamp(1rem, 26%, 37%);
  margin-left: clamp(3rem, 6.5rem, 9.3rem);
  margin-right: clamp(-2rem, -3.1rem, -4.4rem);
}

/* Large Desktop (1400px and above) */
@media (min-width: 1400px) {
  .operatingZonesContainerContentLocation {
    bottom: 19%;
    right: 64.5%;
  }
}

/* Desktop (1200px - 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {

  .SectionTitle{
    text-align: right;
  }
  .operatingZonesContainerContentLocation {
    bottom: 13%;
    right: 45%;

    img {
      margin-right: 101px;
      margin-bottom: 9px;
    }
  }
}




@media screen and (max-width: 480px) {

  .operatingZonesContainer{
   align-items: center;
  }
  .operatingZonesContainer .SectionTitle p{
  text-align: center;
  width: 100%;
  padding-bottom: 4px!important;
  
  }
  .operatingZones{
    margin-top: 4rem;
  }
  .operatingZonesContainerContentBG{
    display: none;
  }
  
  .operatingZonesContainerContentLocation {
    z-index: 99;
    position: absolute;
    top: -11rem;
    left: 8rem;
    margin: 0;
    transform: unset;
  }
  
  .operatingZonesContainerContentCards{
    margin-top: 5rem;
    margin-right: 0;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .card__2__3 {
    display: flex
  ;
    align-items: center;
    flex-direction: row;
    gap:20px;
     margin-left: 0;
    margin-right: 0;
    justify-content: center;
    margin-top: 10px;
  }
  
  .avaliableStyle,.comingSoonStyle{
    // display: none;
  }
  .locationCardContainer{
    padding: 5px 0!important;

  }
  // .locationCardContainer{

  // padding: 1rem 4.5rem;
  // margin: 2px 0rem;
  // box-shadow: 0px 4px 10px 0px #0000001A;
  // width: 179px;

  // }
  .locationCardContainer img {
    border-radius: 50%;
  padding:0!important;
    height: auto;
    width: 6rem!important;
    margin-bottom: 0px!important;
    object-fit: cover;
  }
  .locationCardContainer h3
  {
    font-size: 20px!important;
    font-weight: 500;
  }
  }

@media (min-width: 481px) and (max-width: 767px) {
.operatingZonesContainer .SectionTitle p{
text-align: center;
width: 100%;
padding-bottom: 4px!important;

}
.operatingZones{
  margin-top: 4rem;
}
.operatingZonesContainerContentBG{
  display: none;
}

.operatingZonesContainerContentLocation {
  z-index: 99;
  position: absolute;
  top: -11rem;
  left: 11rem;
  margin: 0;
  transform: unset;
}

.operatingZonesContainerContentCards{
  margin-top: 5rem;
  margin-right: 0;
  justify-content: center;
  flex-direction: column;
}


.card__2__3 {
  display: flex
;
  align-items: center;
  flex-direction: row;
  gap:20px;
   margin-left: 0;
  margin-right: 0;
  justify-content: center;
  margin-top: 10px;
}

.avaliableStyle,.comingSoonStyle{
  // display: none;
}

.locationCardContainer img {
  border-radius: 50%;
padding:0!important;
  height: auto;
  width: 6rem!important;
  margin-bottom: 0px!important;
  object-fit: cover;
}
.locationCardContainer h3
{
  font-size: 20px!important;
  font-weight: 500;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.operatingZonesContainerContentLocation {
  bottom:25px;
  // right: 0;
}

.operatingZonesContainerContentCards {
width: 100%;
display: flex
;
gap:unset;
align-items: center;
justify-content: flex-end;
margin-right: 1rem;
}
.card__2__3 {
display: flex;
align-items: center;
flex-direction: row;
gap:unset;

margin-right: 0;
gap: 49px;
margin-left: 44px;
}

}




@media (min-width: 992px) and (max-width: 1199px) {

.operatingZonesContainerContentLocation {
  bottom:25px;
  // right: 0;
}

.operatingZonesContainerContentCards {
width: 100%;
display: flex
;
gap:unset;
align-items: center;
justify-content: flex-end;
margin-right: 6rem;
}
.card__2__3 {
display: flex;
align-items: center;
flex-direction: row;
gap:unset;

margin-right: 0;
gap: 49px;
margin-left: 44px;
}


}