.testimonialCard {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0rem;
  margin-bottom: 50px;
  width: 33%;

  /* Add space between the icon and content */
  p {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: -1.5rem;
    font-size: 16px;
    padding-right: 0.25rem;
    padding-left: 0.85rem;
    color: #444;
  }

  img {
    position: relative;
    margin-top: -25px;
    width: 48px;
    height: 48px;

    gap: 1.5rem;
    margin-bottom: 40px;

    p {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 15px;
    }
  }

  &Container {
    width: 92%;
    
    display: flex;
    flex-direction: column;
   
    background-color: #f6f1f1;
  

    height: 14rem;
    border-radius: 30px;
    gap: 0.8rem;
  }

  &ContainerProfile {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

  

  

.profileImageWrapper {
  // width: 60.2px;
  // height: 64.21px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileName {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  justify-content: center;
}




@media (min-width: 1201px) and (max-width: 1400px) {

.testimonialCardContainer{
  gap:0;
}

.operatingZonesContainerContentLocation{
  right: 56%;
}

.trendingOffersContainer .offerContent p{
  font-size: 12px!important;
}
}



/* below 992px */
@media (max-width: 991px) {

  .review{
  position: absolute;
  bottom: 40px!important;
  right: 20px!important;
  font-weight: 300;
  }
  .heroSectionContainer h1{
font-size: 43px;
  }
  .heroSectionContainer__left p{
padding: 0.3rem 0;
font-size: 16px;
text-align: center;
  }

  .testimonials{
    margin-top: 4rem;
  }

  .testimonialsContainerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .testimonialCard p{
    margin-bottom: 2rem;
  }
  .testimonialCardContainer{
    width: 100%;
    height: 16rem;
  }
  .testimonialCard img{
    margin-bottom: 0;
    // margin-top: 0;
  }
  
  .profileImageWrapper {
    border-radius: 50%;
    margin-top: 0;
    margin-left: 2rem;
    overflow: unset;
    display: flex
  ;
    justify-content: center;
    align-items: center;
  }
  
  .testimonialCardContainerProfile{
    // margin-top: -5px;
    align-items: center;
    // margin-left: 15px;
    bottom: 4rem!important;
  }
  .profileName{
     margin-top: -10px;
  }

  .testimonialCard{
  width: 60%;
  padding: 2rem 0rem;


}
  .testimonialsContainerCards {
    flex-wrap: nowrap;         /* ek line me cards */
    overflow-x: auto;          /* horizontal scroll allow */
    -webkit-overflow-scrolling: touch; /* smooth scroll mobile ke liye */
    scrollbar-width: none;     /* Firefox scrollbar */
  }

  .testimonialsContainerCards > * {
    flex: 0 0 auto;            /* shrink na ho, size maintain kare */
    min-width: 336px;          /* card ka min width */
  }

  .testimonialsContainerCards::-webkit-scrollbar {
    display: none;
  }


  .operatingZonesContainer .SectionTitle{
    margin:0 2rem;
  }
}



@media (min-width: 992px) and (max-width: 1200px) {

  .testimonialsContainerCards{
    gap: 1rem!important;
    
  }

  .testimonialCard{
    // width:45%!important;
  }
  .heroSectionContainer__left{
    width: 69%!important;
  }
  .heroSectionContainer__left>p{
    padding-top: 9px;
  }

.testimonialCardContainer{
  width: 100%;
}
.testimonialCard img{
  margin-bottom: 0px;
  // margin-top: 0;
}

.profileImageWrapper {
  border-radius: 50%;
  margin-top: 0;
  margin-left: 2rem;
  overflow: unset;
  display: flex
;
  justify-content: center;
  align-items: center;
}
.testimonialCardContainer{
  height: 15rem;
}
.testimonialCardContainerProfile{
  // margin-top: -5px;
  // align-items: unset;
}
.profileName{
   margin-top: -10px;
}
}


.testimonialCardContainerProfile{
  // margin: 0 1rem;
  position: absolute;
    bottom: 1rem;
}

.profileImageWrapper{
  overflow: unset;
  border-radius: 50%;
  /* margin-top: 5px; */
  margin-left: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    color: transparent;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.offer_desc,.customOfferCode,.customOfferValidity{
  font-weight: 400!important;
}

