.availability {
  background-image: url(../../../../assets/images/Availability/hill.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // height: 65vh ;
  margin-top: 10rem;
  position: relative;
}

.availability::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.availabilityRightImage {
  position: absolute;
  left: 63%;
  bottom: 0rem;
  top:-10rem;
  width: 36%;
  object-fit: contain;
  height: 494px;
  z-index: 1;
}

.availability::after {
  content: "";
  position: absolute;
  background-image: url(/_next/static/media/ring.ca2f54a5.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px;
  height: 170px;
  top: -287px;
  // right: 0;
  /* margin-right: -100px; */
  right: -46px;
  z-index: 1;
}

.availabilityContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 5rem 6.5rem;
  position: relative;
  z-index: 1;
  align-items: flex-start;
  height: 100%;
}

.availabilityContainerTitle {
  color: #fff;
  // margin-top: 140px;
  text-align: center;

}

.availabilityContainerTitle h1 {
  font-size: 37px;
  letter-spacing: 1px;
  font-weight: 600;
  padding-bottom: 7px;
  font-family: "Archivo";
  // margin-top: -120px;
}

.availabilityContainerTitle p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: left;
  font-family: "Archivo";
}

.availabilityContainerContent p {
  color: #fff;
  // margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
}

.availabilityContainerBadges {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

// .availabilityContainerBadges a {
//   img {
//   width: 60px!important;
//   height: 60px!important;
//   object-fit: contain;
// }
// }

.availabilityContainerContentBadges img{
  width: 150px!important;
  height: 70px!important;
  object-fit: contain;
  margin-right: 1rem;
}


@media screen and (max-width: 480px)  {
.testimonials{
  margin-bottom: 0!important;
}
.availability{
  margin-top: 0 !important;
}
.availability::after{
  top: -50rem!important;
}

}

@media (min-width: 481px) and (max-width: 767px) {

  .testimonials{
    margin-bottom: 0!important;
  }
  .availability{
    margin-top: 0 !important;
  }

  .testimonialsContainer .SectionTitle{
    max-width: unset!important;
    h1{
      text-align: center!important;
    }
    p{
      text-align: center!important;
    }
  }
  
  
  }