.cardDiv{
    padding: 30px 20px;
    margin: 1.5% 0;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D4E9FF;
   
}


.flexReverse{
    flex-direction: row-reverse;
    background-color: #ADD5FF;
}

.image{
    width: 25%;
    text-align: right;
}

.image img{
    // width: 45%;
    // height: 100px;
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.img_0 , .img_2 , .img_4{
    text-align: left;
}

.text{
    width: 60%;
}

.plainText{
    // font-family: Archivo;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0px;
}

.heading{
    // font-family: Archivo;
    line-height: 2;
    font-size: 26px;
    font-weight: 600;
    margin-top: -2%;
    letter-spacing: 1px;
}

@media screen and (max-width: 960px) {
    .image img{
        width: 90%;
    }

    .heading{
        // font-family: Archivo;
        line-height: 1;
        font-size: 18px;
        margin: 5% 0;
    }
    
    .plainText{
        // font-family: Archivo;
        font-size: 12px;
    }
}


@media screen and (max-width: 500px) {
    .cardDiv{
        padding: 16px;
    }
    .image img{
        width: 100%;
    }

    .heading{
        // font-family: Archivo;
        line-height: 1;
        font-size: 15px;
        margin: 2.5% 0;
        margin-top: 0%;
    }

    .plainText{
        // font-family: Archivo;
        font-size: 10px;
    }


}




@media screen and (max-width: 480px) {
   
    
   
   

}